In [1]:
import pandas as pd
import numpy as np
import csv
import re

In [2]:
data = pd.read_csv("./warriors_points_data.csv")

In [3]:
data.head()

,Player,Rk,G,Date,Age,Tm,Home,Opp,Unnamed: 8,GS,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,Stephen Curry,1,1,10/25/16,28-225,GSW,NaN,SAS,L (-29),1,...,3,3,4,0,0,4,1,26,15.9,-9
1,Stephen Curry,2,2,10/28/16,28-228,GSW,@,NOP,W (+8),1,...,0,1,8,1,0,4,3,23,14.6,4
2,Stephen Curry,3,3,10/30/16,28-230,GSW,@,PHO,W (+6),1,...,1,1,3,0,0,1,5,28,19.1,2
3,Stephen Curry,4,4,11/1/16,28-232,GSW,@,POR,W (+23),1,...,3,4,3,1,0,4,3,28,16.4,24
4,Stephen Curry,5,5,11/3/16,28-234,GSW,NaN,OKC,W (+26),1,...,1,1,7,2,1,1,1,21,19.7,16

In [4]:
# Clean up the data by replacing invalid values
data.loc[(data["PTS"] == "Inactive") | (data["PTS"] == "Did Not Dress"), "PTS"] = 0
data.loc[(data["MP"] == "Inactive") | (data["MP"] == "Did Not Dress"), "MP"] = "0:" # Very Hacky

In [5]:
# Parse out minutes played from MP column
def parseMinutes(row):
    mr = re.match("[0-9]+:", row["MP"])
    try:
        return int(mr.string[mr.start():mr.end()-1])
    except:
        print(row)

minsPlayed = data.apply(parseMinutes, axis=1)

In [6]:
data["PTS"] = pd.to_numeric(data["PTS"], errors="coerce")
data["MinutesPlayed"] = minsPlayed

AttributeError: 'module' object has no attribute 'to_numeric'

In [ ]:
def pointsPerMinute(row):
    points = row["PTS"]
    minutesPlayed = row["MinutesPlayed"]
    
    if minutesPlayed == 0:
        return 0
    else:
        return float(points)/float(minutesPlayed)

In [ ]:
data["PPM"] = data.apply(pointsPerMinute, axis=1)

In [ ]:
data["Player"].value_counts()

In [ ]:
data["PPM"].describe()

In [7]:
scurry = data.loc[data["Player"] == "Stephen Curry", ]
kthompson = data.loc[data["Player"] == "Klay Thompson", ]
kdurant = data.loc[data["Player"] == "Kevin Durant", ]
dgreen = data.loc[data["Player"] == "Draymond Green", ]

In [8]:
# Draymond Green is missing 1 value, find out which.
unique_dates_scurry = scurry["Date"].unique()
unique_dates_dgreen = dgreen["Date"].unique()
for d in unique_dates_scurry:
    if d not in unique_dates_dgreen:
        print(d)

2/2/17

In [9]:
scurry = scurry[:-1]
kthompson = kthompson[:-1]
kdurant = kdurant[:-1]

In [10]:
dates = scurry.loc[:,"Date"]

In [11]:
scurry_final = scurry.reset_index()["PTS"]
kthompson_final = kthompson.reset_index()["PTS"]
kdurant_final = kdurant.reset_index()["PTS"]
dgreen_final = dgreen.reset_index()["PTS"]

In [28]:
# scurry["Unnamed: 8"].map(lambda x: if: "W" is in x, 1 else: 0)
win = scurry["Unnamed: 8"].map( lambda x: 1 if "W" in x else 0)

In [33]:
finalDF = pd.DataFrame({
        "Date": dates,
        "Win" : win,
        "Stephen Curry": scurry_final,
        "Klay Thompson": kthompson_final,
        "Kevin Durant": kdurant_final,
        "Draymond Green": dgreen_final
    })

In [34]:
finalDF.to_csv("formatted_data.csv", sep=",")
finalDF.to_json("formatted_data.json")